<form [formGroup]="productForm" (ngSubmit)="update(id)" *ngIf="productForm">
  <legend>Chỉnh Sửa Sản Phẩm</legend>
  <div class="mb-3">
    <label class="form-label">Chọn danh mục</label>
    <select class="form-control form-control-lg" formControlName="category"  [compareWith]="compareFn">
      <option *ngFor="let category of listCategory "   [ngValue]="category">{{category.name}}</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Nhập Tên</label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="mb-3">
    <label class="form-label">Nhập Giá</label>
    <input type="text" class="form-control" formControlName="price">
  </div>
  <div class="mb-3">
    <label class="form-label">Nhập Mô Tả</label>
    <input type="text" class="form-control" formControlName="description">
  </div>
  <div class="mb-3">
    <input type="hidden" class="form-control" formControlName="img">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
