<!-- Footer -->
<div class="container-fluid " style="width: 100%">
  <footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1">
    <section class="d-flex justify-content-between p-4 text-white" style="background-color: #046056">
      <div class="me-5">
        <span>Đặt phòng ngay,nhận ngàn ưu đãi</span>
      </div>
      <div>
        <a href="" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-twitter"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-google"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-instagram"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-linkedin"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-github"></i></a>
      </div>
    </section>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Furama Company </h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <h5 style="color: #046056">Chào mừng đến với khu nghĩ dưỡng lớn nhất Việt Nam,
              Furama conpany </h5>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Danh Mục</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p><a href="#!" class="text-dark">Dịch Vụ</a></p>
            <p><a href="#!" class="text-dark">Hợp Đồng</a></p>
            <p><a href="#!" class="text-dark">Khách Hàng</a></p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Fane Page </h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p><a href="#!" class="text-dark">Face Book</a></p>
            <p><a href="#!" class="text-dark">Gmail</a></p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">Liên Hệ</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p><i class="fas fa-phone mr-3"></i> +84 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> +84 234 567 89</p>
          </div>

        </div>
      </div>
    </section>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">Furama Da Nang </a>
    </div>
  </footer>
</div>

