<app-header></app-header>
<div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>
<h5>
  <marquee style="color: white"> Liên hệ booking : 0944333333</marquee>

  <marquee style=" font-weight: bold" direction="left"> KHU NGHỈ DƯỠNG ĐẲNG CẤP THẾ GIỚI, FURAMA ĐÀ NẴNG, NỔI TIẾNG LÀ
    KHU NGHỈ DƯỠNG ẨM THỰC TẠI VIỆT
    NAM.
  </marquee>
</h5>
<h1 style="color:  white">Thêm mới dịch vụ</h1>

<div class="container-fluid">
  <div class="col-12 center">
    <div class="row" style="background-color: #21D192">

      <!--card right-->
      <div class="col-12 right-center" style="border-radius: 10px">
        <div class="container mb-2 text-white">
          <form [formGroup]="facilityForm" (ngSubmit)="update(id)" novalidate>
            <div class="mb-3">
              <input type="number" class="form-control form-control-lg" placeholder="Id"
                     formControlName="id">
            </div>
            <p style="color: red"
               *ngIf="!facilityForm.controls.id?.valid&&(facilityForm.controls.id?.dirty||facilityForm.controls.id?.touched)">
              Không được để trống
            </p>
            <div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>

            <div class="mb-3">
              <input type="text" class="form-control form-control-lg" placeholder="Tên"
                     formControlName="name">
            </div>
            <p style="color: red"
               *ngIf="!facilityForm.controls.name?.valid&&
               (facilityForm.controls.name?.dirty||facilityForm.controls.name?.touched)">
              Không được để trống
            </p>
            <div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>

            <div class="mb-3">
              <input type="number" class="form-control form-control-lg " placeholder="Diện tích"
                     formControlName="area">
            </div>
            <p style="color: red"
               *ngIf="!facilityForm.controls.area?.valid&&
               (facilityForm.controls.area?.dirty||facilityForm.controls.area?.touched)">
              Không được để trống
            </p>
            <div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>

            <div class="mb-3">
              <input type="number" class="form-control form-control-lg" placeholder="Giá Thuê"
                     formControlName="cost">
            </div>
            <p style="color: red"
               *ngIf="!facilityForm.controls.id?.valid&&
               (facilityForm.controls.cost?.dirty||facilityForm.controls.cost?.touched)">
              Không được để trống
            </p>
            <div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>

            <div class="mb-3">
              <input type="number" class="form-control form-control-lg" placeholder="Số người ở tối đa"
                     formControlName="maxPeople">
            </div>
            <p style="color: red"
               *ngIf="!facilityForm.controls.maxPeople?.valid&&
               (facilityForm.controls.maxPeople?.dirty||facilityForm.controls.maxPeople?.touched)">
              Không được để trống
            </p>
            <div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>

            <div class="mb-3">
              <input type="hidden" class="form-control form-control-lg" placeholder="Thêm Ảnh"
                     formControlName="img">
            </div>
            <p style="color: red"
               *ngIf="!facilityForm.controls.img?.valid&&
               (facilityForm.controls.img?.dirty||facilityForm.controls.img?.touched)">
              Không được để trống
            </p>
            <div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>
            <div class="mb-3">
              <select class="form-control form-control-lg"
                      (change)="getType($event.target.value)">
                <option [ngValue]="null" disabled>Chọn Dịch Vụ</option>
                <option *ngFor="let item of facilityTypeList " [ngValue]="item">{{item.name}}</option>
              </select>
            </div>
            <p style="color: red"
               *ngIf="!facilityForm.controls.facilityType?.valid&&
               (facilityForm.controls.facilityType?.dirty||facilityForm.controls.facilityType?.touched)">
              Không được để trống
            </p>
            <div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>

            <div class="mb-3" id="standardRoom" *ngIf="type==='Villa'||type==='House'" type="hidden">
              <input type="text" value="N/A" class="form-control form-control-lg" placeholder="Tiêu chuẩn phòng"
                     formControlName="standardRoom">
            </div>
            <p style="color: red"
               *ngIf="!facilityForm.controls.standardRoom?.valid&&
               (facilityForm.controls.standardRoom?.dirty||facilityForm.controls.standardRoom?.touched)">
              Không được để trống
            </p>
            <div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>

            <div class="mb-3" id="description" *ngIf="type==='Villa'||type==='House'" type="hidden">
              <input type="text" value="N/A" class="form-control form-control-lg" placeholder="Tiện nghi"
                     formControlName="descriptionOtherConvenience">
            </div>
            <p style="color: red"
               *ngIf="!facilityForm.controls.descriptionOtherConvenience?.valid&&
               (facilityForm.controls.descriptionOtherConvenience?.dirty||facilityForm.controls.descriptionOtherConvenience?.touched)">
              Không được để trống
            </p>
            <div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>

            <div class="mb-3" id="poolArea" *ngIf="type==='Villa'" type="hidden">
              <input type="number" value="1" class="form-control form-control-lg" placeholder="Diện tích hồ bơi"
                     formControlName="poolArea">
            </div>
            <p style="color: red"
               *ngIf="!facilityForm.controls.poolArea?.valid&&
               (facilityForm.controls.poolArea?.dirty||facilityForm.controls.poolArea?.touched)">
              Không được để trống
            </p>
            <div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>

            <div class="mb-3" id="numberFloor" *ngIf="type==='Villa'||type==='House'" type="hidden">
              <input type="number" value="1" class="form-control form-control-lg" placeholder="Số tầng"
                     formControlName="numberOfFloors">
            </div>
            <p style="color: red"
               *ngIf="!facilityForm.controls.numberOfFloors?.valid&&
               (facilityForm.controls.numberOfFloors?.dirty||facilityForm.controls.numberOfFloors?.touched)">
              Không được để trống
            </p>
            <div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>

            <div class="mb-3" id="facilityFree" *ngIf="type==='Room'" type="hidden">
              <input type="text" value="N/A" class="form-control form-control-lg" placeholder="Dịch vụ miễn phí"
                     formControlName="facilityFree">
            </div>
            <p style="color: red"
               *ngIf="!facilityForm.controls.facilityFree?.valid&&
               (facilityForm.controls.facilityFree?.dirty||facilityForm.controls.facilityFree?.touched)">
              Không được để trống
            </p>
            <div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>
            <input type="submit" value="Save" class="btn btn-success"/>
            <div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>
