<h1>Select Color</h1>
<label>Trượt để thay đổi màu sắc cho khối màu</label>
<br>
<input type="range" min="0" max="255" [(ngModel)]="color1"> Nếu color 1 = {{color1}}
<br>
<input type="range" min="0" max="255" [(ngModel)]="color2"> Nếu color 2 = {{color2}}
<br>
<input type="range" min="0" max="255" [(ngModel)]="color3"> Nếu color 3 = {{color3}}
<br>
Thì khối màu sẻ là :
<div [style.background-color]="'rgb('+color1+','+color2+','+color3+')'"
     [style.width]="'200px'"
     [style.height]="'200px'"
[style.border-radius]="'200px'">
</div>
