<h1>Thay Đổi Màu Sắc 1 </h1>
<br>
<label>Trượt để thay đổi màu sắc cho khối màu</label>
<br>
<input type="range" min="0" max="255" [(ngModel)]="color1"> Nếu color 1 = {{color1}}
<br>
<input type="range" min="0" max="255" [(ngModel)]="color2"> Nếu color 2 = {{color2}}
<br>
<input type="range" min="0" max="255" [(ngModel)]="color3"> Nếu color 3 = {{color3}}
<br>
Thì khối màu sẻ là :
<div [style.background-color]="'rgb('+color1+','+color2+','+color3+')'"
     [style.width]="'200px'"
     [style.height]="'200px'"
     [style.border-radius]="'200px'">
</div>

<br>

<h1> Thay Đổi Màu Sắc 2</h1>
<br>
<label>Nhập màu muốn hiển thị</label>
<br>
<input type="text" placeholder="Nhập màu" [(ngModel)]="color4">
<br>
Khối màu  là:
<div [style.background-color]="color4"
     [style.width]="'200px'"
     [style.height]="'200px'"
     [style.border-radius]="'200px'">
</div>

<br>

<h1> Thay Đổi Màu Sắc 3</h1>
<br>
<label>Kéo để thay đổi màu sắc</label>
<br>
<input type="range" min="0" max="255" (change)="getColor1($event.target.value)"> Nếu color 1 = {{color1}}
<br>
<input type="range" min="0" max="255" (change)="getColor2($event.target.value)">  Nếu color 2 = {{color2}}
<br>
<input type="range" min="0" max="255" (change)="getColor3($event.target.value)"> Nếu color 3 = {{color3}}
<br>
Khối màu là:
<div [style.background-color]="'rgb('+color1+','+color2+','+color3+')'"
     [style.width]="'200px'"
     [style.height]="'200px'"
     [style.border-radius]="'200px'">
</div>


